@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<br />

<div class="card bg-dark text-light">
    <div class="card-header">
        <h4 class="card-title">Seller</h4>
        <div class="row card-body bg-light">
            <div class="text-dark col-md-4">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Seller.Id" />

                    <div class="form-group">
                        <label asp-for="Seller.Name"></label>
                        <input asp-for="Seller.Name" class="form-control" />
                        <span asp-validation-for="Seller.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.Email"></label>
                        <input asp-for="Seller.Email" class="form-control" />
                        <span asp-validation-for="Seller.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.BirthDate"></label>
                        <input asp-for="Seller.BirthDate" class="form-control" />
                        <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.BaseSalary"></label>
                        <input asp-for="Seller.BaseSalary" class="form-control" />
                        <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seller.DepartmentId"></label>
                        <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
